$primary: #4d768d;
$primary-content: oklch(98% 0.002 247.839);
$secondary: #000000;
$secondary-content: oklch(98% 0.002 247.839);
$accent: #ff1d25;
$accent-content: #fefefe;
$neutral: #141b1f;
$neutral-content: oklch(89.925% 0.016 262.749);
$info: oklch(95% 0.045 203.388);
$info-content: oklch(13.841% 0.012 332.664);
$success: oklch(69% 0.17 162.48);
$success-content: oklch(98% 0.002 247.839);
$warning: oklch(83% 0.128 66.29);
$warning-content: oklch(17.097% 0.017 84.093);
$error: oklch(60.61% 0.12 15.341);
$error-content: oklch(12.122% 0.024 15.341);
$highlight: #ffc0cb;
$highlight-content: #383838;
$favourites-list: #B85A5E;
$favourites-list-content: #ffffff;
$favourites-list-hover: #9A464A;
$favourites-list-hover-content: #ffffff;
$compare-list: #3A434A;
$compare-list-hover: #2B343B;
$compare-list-content: #ffffff;
$work: #8ea1a1;
$manifestation: #7c949e;
$item: #748599;
$userinfo: #3a4246;
$userinfo-content: oklch(89.925% 0.016 262.749);

:root {
  --primary: #4d768d;
  --primary-content: oklch(98% 0.002 247.839);
  --secondary: #000000;
  --secondary-content: oklch(98% 0.002 247.839);
  --accent: #ff1d25;
  --accent-content: #fefefe;
  --neutral: #141b1f;
  --neutral-content: oklch(89.925% 0.016 262.749);
  --info: oklch(95% 0.045 203.388);
  --info-content: oklch(13.841% 0.012 332.664);
  --success: oklch(69% 0.17 162.48);
  --success-content: oklch(98% 0.002 247.839);
  --warning: oklch(83% 0.128 66.29);
  --warning-content: oklch(17.097% 0.017 84.093);
  --error: oklch(60.61% 0.12 15.341);
  --error-content: oklch(12.122% 0.024 15.341);
  --highlight: #ffc0cb;
  --highlight-content: #383838;
  --favourites-list: #B85A5E;
  --favourites-list-content: #ffffff;
  --favourites-list-hover: #9A464A;
  --favourites-list-hover-content: #ffffff;
  --compare-list: #3A434A;
  --compare-list-hover: #2B343B;
  --compare-list-content: #ffffff;
  --work: #8ea1a1;
  --manifestation: #7c949e;
  --item: #748599;
  --userinfo: #3a4246;
  --userinfo-content: oklch(89.925% 0.016 262.749);
}

html[data-theme="avefi_dark"] {
  --primary: #4d768d;
  --primary-content: oklch(98% 0.002 247.839);
  --secondary: #000000;
  --secondary-content: oklch(98% 0.002 247.839);
  --accent: #ff1d25;
  --accent-content: #fefefe;
  --neutral: oklch(27.949% 0.036 260.03);
  --neutral-content: #ffffff;
  --info: oklch(68.455% 0.148 237.251);
  --info-content: oklch(0% 0 0);
  --success: oklch(78.452% 0.132 181.911);
  --success-content: oklch(15.69% 0.026 181.911);
  --warning: oklch(83.242% 0.139 82.95);
  --warning-content: oklch(16.648% 0.027 82.95);
  --error: oklch(71.785% 0.17 13.118);
  --error-content: oklch(14.357% 0.034 13.118);
  --highlight: #ff284d;
  --highlight-content: #ffffff;
  --favourites-list: #B85A5E;
  --favourites-list-content: #ffffff;
  --favourites-list-hover: #9A464A;
  --favourites-list-hover-content: #ffffff;
  --compare-list: #3A434A;
  --compare-list-hover: #2B343B;
  --compare-list-content: #ffffff;
  --work: #809595;
  --manifestation: #728a8a;
  --item: #677c7c;
  --userinfo: #3a4246;
  --userinfo-content: oklch(89.925% 0.016 262.749);
}
