// _variables.scss – Cleaned AVefi Theme Colors (SCSS)
// Bali Hai
$bali-hai-50: #f3f7f8;
$bali-hai-100: #dfe9ee;
$bali-hai-200: #c3d5de;
$bali-hai-300: #9ab8c6;
$bali-hai-400: #80a3b5;
$bali-hai: #80a3b5;
$bali-hai-500: #4d768d;
$bali-hai-600: #436277;
$bali-hai-700: #3b5263;
$bali-hai-800: #364754;
$bali-hai-900: #313d48;
$bali-hai-950: #1d262f;

// Primary
$primary-50: #f3f7f8;
$primary-100: #dfe9ee;
$primary-200: #c3d5de;
$primary-300: #9ab8c6;
$primary-400: #80a3b5;
$primary: #4d768d;
$primary-500: #4d768d;
$primary-600: #436277;
$primary-700: #3b5263;
$primary-800: #364754;
$primary-900: #313d48;
$primary-950: #1d262f;

// Secondary
$secondary: #e6c373;

// Accent
$accent-50: #ffeaea;
$accent-100: #ffc5c5;
$accent-200: #ff9e9e;
$accent: #ff7777;
$accent-300: #ff7777;
$accent-400: #ff4f4f;
$accent-500: #ff0000;
$accent-600: #e60000;
$accent-700: #cc0000;
$accent-800: #990000;
$accent-900: #660000;

// Other semantic colors
$highlight: #b00020;
$highlight-content: #ffffff;

$favourites-list: #364754;
$favourites-list-content: #ffffff;
$favourites-list-hover: #364754;

$compare-list: #436277;
$compare-list-content: #ffffff;
$compare-list-hover: #364754;

$work: #F3E2B8;
$manifestation: #E8D39E;
$item: #DDC48B;
